<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103271643736-m5v7ae5j1lbfu2kj9dhr9gr1cb7lfeed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103271643736-m5v7ae5j1lbfu2kj9dhr9gr1cb7lfeed</string>
	<key>API_KEY</key>
	<string>AIzaSyBBQKz5uXn6oI__VsNKx_5rDHv0_mbNgDM</string>
	<key>GCM_SENDER_ID</key>
	<string>103271643736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBp</string>
	<key>PROJECT_ID</key>
	<string>flutterbp</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterbp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103271643736:ios:8dec4dd6e0c4c1d300e82d</string>
</dict>
</plist>